AWSTemplateFormatVersion: '2010-09-09'
Resources:
  S3BucketPolicy:
    Type: 'AWS::S3::BucketPolicy'
    Properties:
      Bucket: mohan-sai-s3-project-1
      PolicyDocument:
        Statement:
          - Sid: PublicReadGetObject
            Effect: Allow
            Principal: '*'
            Action: 's3:GetObject'
            Resource: 
              Fn::Sub:
                - arn:aws:s3:::mohan-sai-s3-project-1/*
                - {}
